body {
  margin: 20px;
  width: 320px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  width: 60px;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  margin-left: 15px;
}
